version: "3.9"

services:
  auth:
    build: ./auth
    container_name: auth-service
    restart: always
    
    environment:
      - MONGO_URL=mongodb+srv://utkarshsingh500500:AvNQD31mJn4ATxf2@cluster0.zhpzk7l.mongodb.net/taskapp?retryWrites=true&w=majority&appName=Cluster0
    ports:
      - "4000:4000"
    networks:
      - backend
  
  task:
    build: ./task
    container_name: task-service
    restart: always
    depends_on:
      - auth
    environment:
      - MONGO_URL=mongodb+srv://utkarshsingh500500:AvNQD31mJn4ATxf2@cluster0.zhpzk7l.mongodb.net/taskapp?retryWrites=true&w=majority&appName=Cluster0

    ports:
      - "4001:4001"
    networks:
      - backend


 
  nginx:
    image: nginx
    container_name: api-gateway
    ports:
      - "80:80"
    depends_on:
      - auth
      - task
    volumes:
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
        - backend


networks:
  backend:


