version: "3.9"

services:
  auth:
    build: ./auth
    container_name: auth-service
    restart: always
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/taskapp
    ports:
      - "4000:4000"
    networks:
      - backend
  
  task:
    build: ./task
    container_name: task-service
    restart: always
    depends_on:
      - auth
    environment:
      - MONGO_URL=mongodb://mongo:27017/taskapp
    ports:
      - "4001:4001"
    networks:
      - backend


  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"   # optional (allows external access)
    networks:
      - backend


  nginx:
    image: nginx
    container_name: api-gateway
    ports:
      - "80:80"
    depends_on:
      - auth
      - task
    volumes:
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
        - backend


networks:
  backend:

volumes:
  mongo-data:
